# Database
POSTGRES_USER=template
POSTGRES_PASSWORD=template
POSTGRES_DB=template
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://template:template@localhost:5432/template

# Backend
CORS_HEADERS=["*"]
CORS_ORIGINS=["http://localhost:5173"]
CORS_ORIGINS_REGEX=

LOG_LEVEL=INFO
PAGINATION_DEFAULT_PAGE_SIZE=10
